<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h2>Ну здарова, пешка Навального</h2>
    <a href="/main">На главную</a>


    <div id="react"></div>

    <script src="built/bundle.js"></script>
</body>
</html>